@charset "UTF-8";

/* todas as midias*/

/*Typical device breakpoints
Pequenas telas : até 600px
celular: 600px - 768px 
tablet: 768px - 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/



/*
    -------INFORMAÇÃO FREECODECAMP-----------
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV*/


@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg); /*Desnecessário pois não imprime*/
        font-family: 'Courier New', Courier, monospace;
 
        
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}

    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg) ;
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}


}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px){/*grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

    main{
        width: 700px ;
    }

}

